.turn-your-small1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 33px;
  font-weight: 800;
  font-family: inherit;
}
.group-icon29 {
  width: 163px;
  position: relative;
  max-height: 100%;
}
.title-and-picture {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 107px;
}
.whole {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.when-you-opt1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 22px;
  letter-spacing: -0.01em;
  line-height: 25px;
  font-weight: 800;
  font-family: inherit;
}
.to-grab-rides {
  margin: 0;
}
.every-010-you-container {
  align-self: stretch;
  position: relative;
  line-height: 19px;
  font-weight: 500;
}
.frame-child {
  width: 145px;
  position: relative;
  height: 71px;
}
.got-2-minutes1 {
  width: 153px;
  flex: 1;
  position: relative;
  line-height: 17px;
  font-weight: 500;
  display: inline-block;
}
.swipe-to-check-container {
  align-self: stretch;
  position: relative;
  line-height: 17px;
  font-weight: 500;
}
.swipe-action {
  height: 71px;
  width: 154px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}
.text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.screen1 {
  align-self: stretch;
  height: 833px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl);
  box-sizing: border-box;
  gap: 22px;
  background-image: url("./public/screen1@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
  font-family: var(--font-grab-community-solid-en);
}
.did-you-know2 {
  align-self: stretch;
  position: relative;
}
.bangkoks-air-was-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.01em;
  line-height: 33px;
  font-weight: 800;
  font-family: inherit;
  color: var(--color-darkslategray);
}
.did-you-know-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-forestgreen);
}
.biochar-life-programme1 {
  margin: 0;
  font-weight: 800;
}
.to-fight-this {
  margin: 0;
  font-weight: 500;
}
.crops-into {
  font-weight: 500;
}
.your-support-for-container1 {
  flex: 1;
  position: relative;
  line-height: 18.5px;
}
.your-support-for-the-biochar-l-wrapper {
  align-self: stretch;
  height: 111px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.group-icon30 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.biochar-absorbs-harmful1 {
  width: 147.6px;
  height: 24.2px;
  position: absolute;
  margin: 0 !important;
  top: 141.5px;
  left: 13.5px;
  line-height: var(--font-size-xs);
  font-weight: 500;
  display: inline-block;
  transform: rotate(6.3deg);
  transform-origin: 0 0;
  z-index: 1;
}
.biochar-benefits {
  width: 190.2px;
  height: 190.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 16px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-4xs);
}
.this-contribution-also-container {
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.local-support {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.group-icon31 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 0;
}
.share-this-effort2 {
  width: 136px;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-grab-community-solid-en);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.group-parent1 {
  cursor: pointer;
  border: none;
  padding: var(--padding-5xs) var(--padding-3xs);
  background-color: transparent;
  width: 156.6px;
  height: 34.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.local-support-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 69px;
}
.screen {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-30xl) var(--padding-19xl) var(--padding-14xl);
  gap: 34px;
  background-image: url("./public/screen@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
  font-family: var(--font-grab-community-solid-en);
}
.theres-a-type-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 33px;
  font-weight: 800;
  font-family: inherit;
}
.furniture-tree {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
}
.thai {
  font-weight: 800;
  font-family: var(--font-grab-community-solid-en);
}
.grabforgood {
  font-weight: 800;
}
.lts-the-critically-container1 {
  flex: 1;
  position: relative;
  line-height: 19px;
}
.thai-rosewood-is1 {
  width: 148.6px;
  height: 24.4px;
  position: absolute;
  margin: 0 !important;
  top: 141.6px;
  left: 18.3px;
  line-height: var(--font-size-xs);
  font-weight: 500;
  display: inline-block;
  transform: rotate(6.3deg);
  transform-origin: 0 0;
  z-index: 1;
}
.rare-wood {
  width: 191.6px;
  height: 191.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 14px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-4xs);
}
.share-this-effort3 {
  width: 135px;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-grab-community-solid-en);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.group-parent2 {
  cursor: pointer;
  border: none;
  padding: 7px var(--padding-3xs);
  background-color: transparent;
  width: 155.4px;
  height: 34.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.eco-matcher1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 59px;
}
.thai-rosewood-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-30xl) var(--padding-19xl) 31px;
  gap: 47px;
  background-image: url("./public/frame-43@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
  font-family: var(--font-grab-community-solid-en);
}
.forest-conservation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
}
.impact-summary-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
}
.since-2021-theyve-container {
  flex: 1;
  position: relative;
  line-height: 19px;
  font-weight: 500;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 45px;
  color: var(--color-white);
}
.journey-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 82px;
}
.group-icon34 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.over {
  font-weight: 500;
  font-family: var(--font-grab-community-solid-en);
}
.over-12-million-container {
  height: 24.4px;
  width: 148.6px;
  position: absolute;
  margin: 0 !important;
  top: 141.7px;
  left: 11.4px;
  line-height: var(--font-size-xs);
  display: inline-block;
  transform: rotate(6.3deg);
  transform-origin: 0 0;
  z-index: 1;
}
.planted-trees {
  width: 191.8px;
  height: 191.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px var(--padding-5xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-4xs);
}
.share-your-support1 {
  width: 142px;
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  line-height: 15px;
  font-weight: 500;
  font-family: var(--font-grab-community-solid-en);
  color: var(--color-darkslategray);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.support-program {
  cursor: pointer;
  border: none;
  padding: var(--padding-8xs) 23px;
  background-color: #a0d92a;
  width: 187.9px;
  height: 48.6px;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.mother-nature {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 37px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.journey-details-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-14xl) 37px;
  gap: 32px;
  background-image: url("./public/frame-44@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
  font-family: var(--font-grab-community-solid-en);
}
.in1screen {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
